<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MemeLeague{% endblock %}</title>

    <!-- Favicon links -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">

    <!-- Other assets like CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        @font-face {
            font-family: 'Fredoka';
            src: url("{% static 'fonts/Fredoka-VariableFont_wdth,wght.ttf' %}");
        }
        body {
            font-family: 'Fredoka', sans-serif;
        }
    </style>
</head>
<body>
    <header>
        <h1>MemeLeague</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'core:profile' %}">Profile</a></li>
                    <li><a href="{% url 'core:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'core:login' %}">Login</a></li>
                    <li><a href="{% url 'core:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 MemeLeague</p>
    </footer>
</body>
</html>
